img{
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    vertical-align: middle;
    padding-left: 20%;
}

.wrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.intro{
    flex: 1;
}

.intro p{
    padding-left: 1%;
    font-size: 24px;
    padding-right: 10%;
    text-decoration: none;
    padding-top: 20px;
    text-align: left;
}

.intro ul{
    padding-left: 14%;
}

.intro ul li{
    font-size: 18px;
}

.pill{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: grab;
    background-color: rgba(27, 33, 81, 1);
    color: white;
}

.pill:hover {
    background-color: rgb(67, 78, 162);
}

.pill--selected {
    background-color: white;
    color: rgba(27, 33, 81, 1);
}