*{
    margin: 0;
    padding: 0;
}


.background-image {
    background-image: url('./images/Screenshot\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 8rem;
    padding-top: 10rem;
    color: rgba(27, 33, 81, 1);
}


h2 {
    text-align: center;
    font-size: 4rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
    color: rgba(27, 33, 81, 1);
}

h3 {
    text-align: center;
    font-size: 1.6rem;
}

h4 {
    text-align: left;
    margin-left: 12%;
    color: rgba(27, 33, 81, 1);
    font-size: 2rem;
}

h5 {
    text-align: left;
    margin-left: 12%;
    color: black;
    font-size: 25px;
    font-weight: lighter;
}


p {
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 27px;
}

.welcome{
    background-color: rgba(27, 33, 81, 1);
}

.welcome h2{
    color: white;
}

.welcome p{
    color: white;
}

.brand {
    width: 20rem;
    height: 20rem;
    color: black;
    size: 10rem;
}
